input {
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
  &:focus-visible {
    outline: none;
  }
}

.input-wrapper {
  @apply px-10;
  .form-group {
    &.with-border {
      margin-bottom: 30px;
      @apply flex flex-col;
      label {
        @apply font-bold mb-2;
      }
      input {
        height: 48px;
        @apply border  px-3;
      }
    }
  }
}
