//Modal position
.h-modal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &-top {
    align-items: start;
    > div {
      width: 100%;
      height: auto;
      max-height: 100vh;
      overflow-y: scroll;
    }
  }

  &-middle {
    align-items: center;
    position: fixed;
    > div {
      border-radius: 10px;
    }
  }

  &-bottom {
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    > div {
      border-radius: 10px 10px 0 0;
      max-width: 630px;
    }
  }

  &-full {
    width: 100%;
    height: 100vh;
    position: fixed;
    > div {
      width: 100%;
      height: 100%;
      max-height: 100vh;
      overflow-y: scroll;
    }
  }
}
